body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background: #FFF;
    overflow-x: hidden; 
}

.container {
    display: flex;
    padding: 15px px;
    justify-content: center;
    align-items: flex-start;
    gap: 340px;
    background: #FFF;
    max-width: 100%; 
    box-sizing: border-box;
    margin-top: 30px;
    width: 100%;
}

.menu {
    margin: 0;
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    word-wrap: break-word;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
#sticky-menu {
    position: sticky;
    top: 0;
}

#home, #about, #services, #projects, #contact {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}

#name-text, #designation-text, #services-text {
    font-family: 'Work Sans', sans-serif;
}

#name-text {
    color: #0077FF;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    margin-top: 100px;
    margin-left: 45px;
}

#designation-text {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    margin-left: 45px;
}

#services-text {
    color: #222222;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    margin-left: 45px;
}
.profile-image {
    display: flex;
    justify-content: center;
}

#profile-image {
    display: flex;
    float: right;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50%;
}
.content-left{
    width: 40%;
}
.about-me {
    margin-top: 20px;
    color: #0077FF;
    font-size: 20px;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    top: 50%;
    left: 50%;
}

.about-me p{
    color: black;
    font-size: 20px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-align: center; 
}
.buttons-container {
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}
    
.section-button {
    background-color: #0077FF; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}
    
.section-button:hover {
    background-color: #0077FF; 
}
    
.section {
    display: none;
    margin-top: 20px auto;
    padding: 20px;
    text-align: center; 
    top: 50%; 
    left: 50%; 
    font-size: 25px;
}
    
.section h3 {
        color: #333; 
}
    
.section p {
        color: #666; 
        font-size: 15px;
}
#skills {
    display: block;
}
.section h3{
    color: #0077FF;
    margin-top: 50px;
}
.section p{
    color: black;
    font-weight: 400;
    font-size: 20px;
}
.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo-wrapper {
    text-align: center; 
    width: calc(10% - 10px);
    margin: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
#achievements ul {
    margin-bottom: 5px;
}

#achievements li {
    margin-bottom: 10px;
    color: black; 
    font-size: 16px; 
    font-weight: 400; 
}
#licensesandcertifications ul {
    margin-bottom: 5px;
}

#licensesandcertifications li {
    margin-bottom: 10px;
    color: black; 
    font-size: 16px; 
    font-weight: 400; 
}
    .projects {
    text-align: center;
    margin-top: 25x;
}

.projects h3 {
    color: #0077FF; 
    font-size: 25px; 
    font-weight: 600; 
}
.project-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-text {
    flex: 1;
}

.project-section {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.project-section h4 {
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}
.project-section p {
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}

.project-section.blue-background {
    background-color: #0077FF;
}

.project-section.blue-background h4{ 
    color: white;
}

.project-section.blue-background p{ 
    color: white;
}

.project-section.white-background {
    background-color: #FFF;
}

.project-section img {
    width: 40%;
    height: auto;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .project-content {
        flex-direction: column;
        align-items: center;
    }

    .project-section img {
        width: 100%;
        margin-top: 10px;
    }
}
.contact-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #0077FF;
    padding: 100px;
    flex-direction: row;
}

.contact {
    display: flex;
    align-items: center;
    gap: 75px;
}

.link-details {
    display: flex;
    align-items: center; 
    gap: 100px;
}

.contact h3 {
    color: white;
    margin: 0; 
}
    
.section-button-blue {
    background-color: #fff; 
    color: #0077FF; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}
    
.section-button:hover {
    background-color: #0077FF; 
}

