<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='css/stylesindex.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <div class="container" id="sticky-menu">
        <ul class="menu">
            <li><a href="#home" id="home">Home</a></li>
            <li><a href="#about" id="about">About Me</a></li>
            <li><a href="#section" id="skills">Skills</a></li>
            <li><a href="#projects" id="projects">Projects</a></li>
            <li><a href="#contact" id="contact">Contact Me</a></li>
        </ul>
    </div>

    <div class="profile-image"> 
        <div class="content-left">
            <div id="name-text">Safira Ryzka Rahmadianti</div>
            <div id="designation-text">Data Scientist</div>
        </div>
        <img src="https://media.licdn.com/dms/image/D5603AQGmsHuAuii4eg/profile-displayphoto-shrink_800_800/0/1674573038691?e=1706745600&v=beta&t=RFgADYzULXz1JEIyNdfXDWtdEBeiwi6WGRABnzEVavU" alt="Profile Image" id="profile-image">
    </div>

    <div class="about-me">
        <h3>About Me</h3>
        <p>An ongoing undergraduate student currently pursuing Data Science in the Faculty of Advanced Technology and Multidiscipline. My objective is to apply my knowledge of data science using R, python, and SQL to analysis complex dataset, make data-driven decisions, extract meaningful insights and create impactful visualizations that effectively communicate complex information. I am driven to pursue a career in data analysis, data analytics and data science and committed to continuous learning and growth in these areas.</p>
    </div>

    <div class="buttons-container">
        <button class="section-button" data-target="skills" onclick="toggleSection('skills')">Skills</button>
        <button class="section-button" data-target="achievements" onclick="toggleSection('achievements')">Achievements</button>
        <button class="section-button" data-target="licensesandcertifications" onclick="toggleSection('licensesandcertifications')">Licenses and Certifications</button>
    </div>

    <div class="section" id="skills">
        <h3>Skills</h3>
        <div class="photo-container">
            <div class="photo-wrapper">
                <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/285_R_Project_logo-512.png" alt="Photo 1" class="photo">
                <p>R Programming Language</p>
            </div>
            <div class="photo-wrapper">
                <img src="https://cdn-icons-png.flaticon.com/512/9543/9543826.png" alt="Photo 2" class="photo">
                <p>SQL</p>
            </div>
            <div class="photo-wrapper">
                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="Photo 3" class="photo">
                <p>Python</p>
            </div>
            <div class="photo-wrapper">
                <img src="https://cdn-icons-png.flaticon.com/256/732/732220.png" alt="Photo 4" class="photo">
                <p>Excel</p>
            </div>
            <div class="photo-wrapper">
                <img src="https://clipground.com/images/spss-icon-png-5.png" alt="Photo 5" class="photo">
                <p>SPSS</p>
            </div>
            <div class="photo-wrapper">
                <img src="https://cdn-icons-png.flaticon.com/512/136/136528.png" alt="Photo 6" class="photo">
                <p>HTML</p>
            </div>
            <div class="photo-wrapper">
                <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png" alt="Photo 7" class="photo">
                <p>CSS</p>
            </div>
            <div class="photo-wrapper">
                <img src="https://assets-global.website-files.com/5eb586cf7696a9c27238a7ed/6095431c47d094515c19ca88_Byteline-icon2.png" alt="Photo 8" class="photo">
                <p>Web Scraping</p>
            </div>
            <div class="photo-wrapper">
                <img src="https://cdn-icons-png.flaticon.com/512/6332/6332308.png" alt="Photo 9" class="photo">
                <p>Data Visualizations</p>
            </div>
        </div>
    </div>

    <div class="section" id="achievements">
        <h3>Achievements</h3>
        <ul>
            <li>Passed the first stage of the scientific paper Geospatial Challenge ITB 2024</li> 
            <li>Passed the first stage of the PKM based on MBKM in 2022</li>
            <li>Passed the first stage of the PKM based on MBKM in 2020</li>
            <li>Best Paper Award at the Geomatics National Conference 2020</li>
            <li>Selected as delegate to represent FTMM in Airlangga University NUDC 2023</li>
            <li>Participant Statistika Ria dan Festival Sains Data 2022</li>
            <li>Participant Garuda Hacks 2.0 2021</li>
            <li>Participant Tournament Data Science Nasional 2021</li>
        </ul>
    </div>    

    <div class="section" id="licensesandcertifications">
        <h3>Licenses and Certifications</h3>
        <ul>
            <li>Introduction to Data Science with R - DQLab (2021)</li>
            <li>Introduction to Data Science with Python - DQLab (2021)</li>
            <li>R Fundamental for Data Science - DQLab (2021)</li>
            <li>Python Fundamental for Data Science - DQLab (2021)</li>
            <li>Fundamental SQL Using SELECT Statement - DQLab (2021)</li>
            <li>Data Wrangling Python - DQLab (2022)</li>
            <li>EF SET Certificate: C1 Advanced (2021)</li>
        </ul>
    </div>    

    <div class="projects">
        <h3>Selected Projects</h3>
    
        <div class="project-section blue-background">
            <div class="project-content">
                <div class="project-text">
                    <h4>Classifier Breast Cancer Wiconsin in sklearn</h4>
                    <p>Analysis of breast cancer Wisconsin using python programming language, the dataset was prepocessed using encoding and applying the min-max scaler. After preprocessing, the data was partitioned using cross-validation and classification models were created using logistic regression, decision tree, and naive Bayes algorithms. The performance of each classifier was evaluated using confusion matrices. The results revealed that both logistic regression and naive Bayes models achieved the highest accuracy of 90% in determining whether a patient has cancer or not.
                    </p>
                    <button class="section-button-blue" onclick="window.location.href='https://www.kaggle.com/code/safirar/classifier-in-sklearn'">Visit Projects</button>
                </div>
                <img src="https://github.com/safiraryzkar/Readme/assets/144891268/916f6755-100e-485c-8102-6a5d9e1391db" alt="Project 1">
            </div>
        </div>
    
        <div class="project-section white-background">
            <div class="project-content">
                <img src="https://github.com/safiraryzkar/Readme/assets/144891268/b1befde5-90d9-4ed2-93f9-e58c038a0d45" alt="Project 2">
                <div class="project-text">
                    <h4>Analysis of 'Pinjol' Tweets through Twitter Data Scraping and Advanced Text Processing Techniques</h4>
                    <p>This study employs Twitter data scraping to analyze 'Pinjol' tweets, utilizing Sastrawi for linguistic preprocessing, which involves stemming and preprocessing for removing stop word and link. The analysis includes word cloud generation for preprocessing validation, TF-IDF for K-means clustering to group themes in the collected tweets, and social network analysis with centrality measures to evaluate user influence. This comprehensive approach aims to reveal patterns within the 'Pinjol' discourse on Twitter.</p>
                    <button class="section-button" onclick="window.location.href='https://www.kaggle.com/code/safirar/twitter-data-scraping'">Visit Projects</button>
                </div>
            </div>
        </div>
    
        <div class="project-section blue-background">
            <div class="project-content">
                <div class="project-text">
                    <h4>Insert Data</h4>
                    <p>Make a form in HTML and use the POST method to insert new data into a CSV file. The website can display all the data, including the new ones. With the feature inserts new data, sort by id, and sort by first name.</p>
                    <button class="section-button-blue" onclick="window.location.href='https://trex.alwaysdata.net/www/week9fix.php'">Visit Projects</button>
                </div>
                <img src="https://github.com/safiraryzkar/Readme/assets/144891268/27c24507-661b-4b38-add4-2a95b7c1e924" alt="Project 3">
            </div>
        </div>
    
        <div class="project-section white-background">
            <div class="project-content">
                <img src="https://github.com/safiraryzkar/Readme/assets/144891268/70b62643-aeba-491b-9256-303256de31a2" alt="Project 4">
                <div class="project-text">
                    <h4>Flask</h4>
                    <p>Create a personal blog using Flask. Have pages: about me, skills, projects, contact, an input for numbers with Fibonacci sequence output, display CSV data in the local folder in JSON format, a form that can be submitted using the POST method and display the submitted form content on a local Flask website.</p>
                    <div class="buttons-container">
                        <button class="section-button" onclick="window.location.href='https://github.com/safiraryzkar/flask'">Visit Projects</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>    

    <div class="contact-container">
        <div class="contact">
            <h3>Contact Me!</h3>
            <div class="link-details">
                <div class="contact" onclick="window.location.href='mailto:safiraryzkr@gmail.com'">
                    <h3>Email</h3>
                </div>
                <div class="contact" onclick="window.location.href='https://github.com/safiraryzkar'">
                    <h3>Github</h3>
                </div>
                <div class="contact" onclick="window.location.href='https://www.linkedin.com/in/safira-r-883003222/'">
                    <h3>LinkedIn</h3>
                </div>
                <div class="contact" onclick="window.location.href='https://www.kaggle.com/safirar/code'">
                    <h3>Kaggle</h3>
                </div>
            </div>
        </div>
    </div>
    
    </div>
</body>
</html>
